@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap);
html,
body {
    font-family: "Montserrat", sans-serif;
}

#Sec {
    position: fixed;
    bottom: 5px;
    left: 5px;
    font-size: 100px;
  }