@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap);
html,
body {
    font-family: "Montserrat", sans-serif;
}

#Sec {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 95vh;  /* 5vh at the top center and 95vh at the bottom center*/
    color: white;
    font-size: 20px;
    font-weight: 600;
  }
